
ant-carousel .slick-slide {
    text-align: center;
    height: 160px;
    line-height: 160px;
    background: #1b2a45;
    overflow: hidden;
  }
  .parent img{
    margin: 0 auto;
    border-radius: 2em;
  }
  
  .ant-carousel .slick-slide h3 {
    color: #fff;
  }
  :root{
    font-family: 'Raleway', sans-serif;
  }
  

  body, html {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    margin: 0; 
    padding: 0;
  }
  #catLinks {
    color: aqua;
  }
  .marquee-text{
    font-size: 29px;
    font-weight: 600;
    margin: 60px 0px;
    color: #f02d34;
  }
  .marquee {
    position: relative;
    height: 400px;
    width: 100%;
    overflow-x: hidden;
  }
  
  .track {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 15s linear infinite;
    width: 180%;
  }
  .track:hover {
    animation-play-state: paused;
  }
  .modalStyle {
    background-color: 'red'
  }
  #cat-nav {
    color: yellow !important;
  }
  @keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
  }

@tailwind base;
@tailwind components;
@tailwind utilities;


